body {
    font-family: monospace;
    text-align: center;
}

canvas {
    flex: none;
    margin: auto;
    transform: scaleX(-1);
}

video {
    width: 591px;
    height: auto;
    transform: rotateY(180deg);
}
