@import "components";
@import "buttons";
@import "wrapper";

$lightGrey: #EBEBEB;
$white: white;

html, body {
  margin: 0;
  padding: 0;
  background-color: $lightGrey;
  font-family: "Comic Neue", sans-serif;
}


main {
  z-index: 9999;
  position: absolute;
  height: 100vh;
  left: 50%;
  right: 50%;
  

  h1{
    font-weight: 700;
    font-size: 3.4rem;
    margin-top: -63px;
  }
}

.block {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 550px;
  padding: 3rem;
  border-radius: 5px;

  &__buttons{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
    & > a{
      width: 100%;
      box-sizing: border-box;
    }
  }
}





